@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dark-mat-card {
  background-color: #cfd8dc;
}
.light-mat-card {
  background-color: #ffffff;
  margin-bottom: 5px;
}

.special-mat-card {
  background-color: #ffffff;
  margin-bottom: 5px;
}

.main-div {
  width: 600px;
  margin: 5 auto;
  margin: 1em auto;
}

#title-toolbar {
  background-color: #304ffe;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 640px;
}

#secondary-div {
  min-width: 640px;
  margin: 5 auto;
}

#head-table {
  max-width: 1200px;
  min-width: 600px;
  margin: 1em auto;
}

#main-tab-group {
  border: 1px solid #e1e1e1;
}

.highlight-row {
  background-color: #f0f4c3;
}

.peakpayment-row {
  background-color: #ffcdd2;
}

.faded-row {
  background-color: #f5f5f5;
  font-weight: lighter;
}
