@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dark-mat-card {
    background-color: #cfd8dc;
  }
.light-mat-card {
    background-color: #FFFFFF;
    margin-bottom: 5px;    
  }  

.main-div {
    width:600px; 
    margin:5 auto;
}

#secondary-div {
    min-width:600px; 
    margin:5 auto;
}

#head-table { 
    max-width: 1200px; 
    min-width: 400px;
    align-self: center;
  }

#main-tab-group {
    border: 1px solid #e1e1e1;
}